{% extends "admin/base_site.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ho_dan.css">
{% endblock %}
{% block content %}
    <div class="table-ho-dan">
        <table>
            <thead>
                <tr>
                    <th> STT </th>
                    <th> Hộ dân </th>
                    <th> Trạng thái </th>
                    <th> Số người </th>
                    <th> Địa chỉ </th>
                    <th> Số điện thoại </th>
                    <th> Ghi chú </th>
                </tr>
            </thead>
            <tbody>
                {% for ho_dan in list_ho_dan %}
                    <tr>
                        <th> {{ ho_dan.id }} </th>
                        <th> {{ ho_dan.name }} </th>
                        <th>
                            <button class="{% if ho_dan.status == 'Cần ứng cứu gấp' or ho_dan.status == 'Gặp nạn' %} emergency {% endif %}"> {{ ho_dan.status }} </button>
                            <br>
                            <span> {{ ho_dan.update_time }} </span>
                        </th>
                        <th> {{ ho_dan.people_number }} </th>
                        <th> {{ ho_dan.location }}
                            {% if ho_dan.xa %}, {{ ho_dan.xa }} {% endif %}
                            {% if ho_dan.huyen %}, {{ ho_dan.huyen }} {% endif %}
                            {% if ho_dan.tinh %}, {{ ho_dan.tinh }} {% endif %}
                        </th>
                        <th> {{ ho_dan.phone }} </th>
                        <th> {{ ho_dan.note|truncatechars_html:80 }}
                            <a id="see-more-note"> See more </a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block scripts_extra %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    $('#see-more-note').on("click", function() {
        console.log("hi");
    });
    $(document).ready(function() {
        console.log("ready");
    });
</script>
{% endblock %}
