{% extends "layout.html" %}
{% load static i18n %}



{% block content %}
<div class="container">
  <div class="row filter">
    <div class="col-sm-3">
      <select class="select" id="select-status">
        <option value="-1"> Chọn trạng thái </option>
        {% for id, name in status_dict.items %}
          <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2">
      <select class="select" id="select-tinh">
        <option value="-1"> Chọn tỉnh </option>
        {% for tinh in list_tinh %}
          <option value="{{ tinh.id }}">{{ tinh.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2">
      <select class="select" id="select-huyen">
        <option value="-1"> Chọn huyện </option>
        {% for huyen in list_huyen %}
          <option value="{{ huyen.id }}" {%if huyen.tinh.id %} tinh-id="{{ huyen.tinh.id }}" {% endif %}>{{ huyen.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2">
      <select class="select" id="select-xa">
        <option value="-1"> Chọn xã </option>
        {% for xa in list_xa %}
          <option value="{{ xa.id }}" {% if xa.huyen.id %} huyen-id="{{ xa.huyen.id }}" {% endif %}>{{ xa.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2">
      <button id="search-button"> Tìm kiếm </button>
    </div>
  </div>
  <div class="row d-show-desktop">
    <table class="table citizen-table">
      <thead>
        <tr>
          <th> STT </th>
          <th> Hộ dân </th>
          <th> Trạng thái </th>
          <th> Số người </th>
          <th> Địa chỉ </th>
          <th> Số điện thoại </th>
          <th> Ghi chú </th>
        </tr>
      </thead>
      <tbody>
        {% for hodan in page_obj %}
          <tr>
            <td> {{ hodan.id }} </td>
            <td> {{ hodan.name }} </td>
            <td>
              <button class="btn btn-small {% if hodan.status_emergency %} btn-danger {% else %} btn-success {% endif %}">
                {{ hodan.status }}
              </button>
              <br>
              <span> {{ hodan.update_time }} </span>
            </td>
            <td> {{ hodan.people_number }} </td>
            <td> {{ hodan.location }}
              {% if hodan.xa %}, {{ hodan.xa }} {% endif %}
              {% if hodan.huyen %}, {{ hodan.huyen }} {% endif %}
              {% if hodan.tinh %}, {{ hodan.tinh }} {% endif %}
            </td>
            <td> {{ hodan.phone }} </td>
            <td>
              <span class="see-less">
                {{ hodan.note|truncatechars_html:80 }}
                <a id="see-more-note"> See more </a>
              </span>
              <span class="see-more" style="display: none;">
                {{ hodan.note}}
                <a id="see-less-note"> See less </a>
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row d-show-mobile">
    <ul class="citizen-list">
      {% for hodan in page_obj %}
        <li>
          <div class="citizen-item">
            <div class="citizen-header">
              <h5>
                <span>#{{ hodan.id }}</span>
                <span>-</span>
                <span> {{ hodan.name }} </span>
              </h5>
            </div>
            <div class="citizen-meta">
              <span class="citizen-status {%if hodan.status_emergency %} status-emergency {% endif %}">{{ hodan.status }}</span>
              <div class="citizen-updated-time">
                <span>Cập nhật: </span>
                <span> {{ hodan.update_time }} </span>
              </div>
            </div>
            <div class="citizen-body">
              <div class="citizen-info">
                <div class="citizen-label"> Điện thoại </div>
                <div class="citizen-value citizen-value--phone">
                  <a href="tel:{{ hodan.phone }}">
                    <i class="la la-phone"></i>
                    {{ hodan.phone }}
                  </a>
                </div>
              </div>
              <div class="citizen-info">
                <div class="citizen-label"> Địa chỉ </div>
                <div class="citizen-value">
                  {{ hodan.location }}
                  <ul class="citizen-location">
                    {% if hodan.xa %}, {{ hodan.xa }} {% endif %}
                    {% if hodan.huyen %}, {{ hodan.huyen }} {% endif %}
                    {% if hodan.tinh %}, {{ hodan.tinh }} {% endif %}
                  </ul>
                </div>
              </div>
              <div class="citizen-info">
                <div class="citizen-label"> Số người </div>
                <div class="citizen-value">
                  <span class="citizen-number">
                    <strong>{{ hodan.people_number }}</strong>
                    <span>người</span>
                  </span>
                </div>
              </div>
              <div class="citizen-info">
                <div class="citizen-label"> Ghi chú </div>
                <div class="citizen-value"> {{ hodan.note }} </div>
              </div>
              <div class="citizen-info">
                <div class="citizen-label"> Đơn vị cứu hộ</div>
                <div class="citizen-value">
                  {% if hodan.cuuho %}
                    {{ hodan.cuuho }}
                  {% else %}
                    {{ '_ _ _ _ _' }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="citizen-footer">
              <div class="citizen-footer-info">
                <span>Gửi lúc: </span>
                <span> {{ hodan.created_time }} </span>
              </div>
              {% if hodan.volunteer %}
              <div class="citizen-footer-info">
                <span>Bởi TNV: </span>
                <span> {{ hodan.volunteer }} </span>
              </div>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <nav aria-label="row Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{{ request.get_full_path }}page=1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">begin</span>
        </a>
      </li>   {% endif %}

      {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}
          <li class="page-item active">
            <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
          </li>
        {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="{{ request.get_full_path }}page={{ n }}">{{ n }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ request.get_full_path }}page={{ page_obj.paginator.num_pages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">end</span>
          </a>
        </li>
        {% endif %}
      </ul>
  </nav>

</div>

{% endblock %}

<!--
{% block scripts_extra %}

  <script type="text/javascript">
    $(document).ready(function() {
      {% for id, tinh in dict_tinh_huyen %}
        console.log(id);
      {% endfor %}
    });
  </script>

{% endblock %} -->
