{% extends "layout.html" %}
{% load static i18n %}

{% block content %}
  <div class="row form-row citizen-filter mb-4">
    <div class="col-sm-3 mb-2">
      <select class="form-control select choices" id="select-status">
        <option value="-1"> Tất cả trạng thái </option>
        {% for status in list_status %}
          <option {% if status.id|stringformat:"i" == filtered.status %} selected {% endif %} value="{{ status.id }}">{{ status.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2 mb-2">
      <select class="form-control select select-searchable" id="select-tinh">
        <option value="-1"> Tất cả tỉnh </option>
        {% for tinh in list_tinh %}
        <option {% if tinh.id|stringformat:"i" == filtered.tinh %} selected {% endif %} value="{{ tinh.id }}">{{ tinh.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2 mb-2">
      <select class="form-control select select-searchable" id="select-huyen">
        <option value="-1"> Tất cả huyện </option>
        {% for huyen in list_huyen %}
          <option {% if huyen.id|stringformat:"i" == filtered.huyen %} selected {% endif %}
            tinh-id="{{ huyen.tinh.id }}" value="{{ huyen.id }}">{{ huyen.name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2 mb-2">
      <select class="form-control select select-searchable" id="select-xa">
        <option value="-1"> Tất cả xã </option>
        {% for xa in list_xa %}
          <option {% if xa.id|stringformat:"i" == filtered.xa %} selected {% endif %}
            huyen-id="{{ xa.huyen.id }}" value="{{ xa.id }}">{{ xa.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2 ml-auto text-right">
      <button id="search-button" class="btn btn-outline-primary btn-filter"> Tìm kiếm </button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      Tổng số hộ dân: {{ ho_dan_total_count }}
    </div>
  </div>
  <div class="section d-none d-lg-block">
    <div class="table-responsive">
      <table class="table table-hover table-bordered citizen-table">
        <thead class="thead-dark">
          <tr>
            <th> STT </th>
            <th class="citizen-td-name"> Hộ dân </th>
            <th> Trạng thái </th>
            <th class="citizen-td-counter"> SL </th>
            <th class="citizen-td-address"> Địa chỉ </th>
            <th class="citizen-td-phone"> Số điện thoại </th>
            <th> Ghi chú </th>
          </tr>
        </thead>
        <tbody>
          {% for hodan in page_obj %}
            <tr>
              <td> {{ hodan.id }} </td>
              <td class="citizen-td-name"> {{ hodan.name }} </td>
              <td>
                <div class="mb-2">
                  <span class="badge {% if hodan.status_emergency %} badge-danger {% else %} badge-info {% endif %}">
                    {{ hodan.status }}
                  </span>
                </div>
                <div class="">
                  <span> {{ hodan.update_time }} </span>
                </div>
              </td>
              <td class="citizen-td-counter"> {{ hodan.people_number }} </td>
              <td class="citizen-td-address"> {{ hodan.location }}
                {% if hodan.xa %}, {{ hodan.xa }} {% endif %}
                {% if hodan.huyen %}, {{ hodan.huyen }} {% endif %}
                {% if hodan.tinh %}, {{ hodan.tinh }} {% endif %}
              </td>
              <td class="citizen-td-phone"> {{ hodan.phone }} </td>
              <td>
                <span class="truncated-note">
                  {{ hodan.note|truncatechars_html:200 }}
                </span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-block d-lg-none">
    <ul class="citizen-list">
      {% for hodan in page_obj %}
        <li>
          <div class="citizen-item">
            <div class="citizen-header">
              <h5>
                <span>#{{ hodan.id }}</span>
                <span>-</span>
                <span> {{ hodan.name }} </span>
              </h5>
            </div>
            <div class="citizen-meta">
              <span class="badge {% if hodan.status_emergency %} badge-danger {% else %} badge-info {% endif %}">
                {{ hodan.status }}
              </span>
              <div class="citizen-updated-time">
                <span>Cập nhật: </span>
                <span> {{ hodan.update_time }} </span>
              </div>
            </div>
            <div class="citizen-body">
              <div class="citizen-info">
                <div class="citizen-label"> Điện thoại </div>
                <div class="citizen-value citizen-value--phone">
                  <a href="tel:{{ hodan.phone }}">
                    <i class="la la-phone"></i>
                    {{ hodan.phone }}
                  </a>
                </div>
              </div>
              <div class="citizen-info">
                <div class="citizen-label"> Địa chỉ </div>
                <div class="citizen-value">
                  {{ hodan.location }}
                  <ul class="citizen-location">
                    {% if hodan.xa %}, {{ hodan.xa }} {% endif %}
                    {% if hodan.huyen %}, {{ hodan.huyen }} {% endif %}
                    {% if hodan.tinh %}, {{ hodan.tinh }} {% endif %}
                  </ul>
                </div>
              </div>
              <div class="citizen-info">
                <div class="citizen-label"> Số người </div>
                <div class="citizen-value">
                  <span class="citizen-number">
                    <strong>{{ hodan.people_number }}</strong>
                    <span>người</span>
                  </span>
                </div>
              </div>
              <div class="citizen-info">
                <div class="citizen-label"> Ghi chú </div>
                <div class="citizen-value"> {{ hodan.note }} </div>
              </div>
              <div class="citizen-info">
                <div class="citizen-label"> Đơn vị cứu hộ</div>
                <div class="citizen-value">
                  {% if hodan.cuuho %}
                    {{ hodan.cuuho }}
                  {% else %}
                    {{ '_ _ _ _ _' }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="citizen-footer">
              <div class="citizen-footer-info">
                <span>Gửi lúc: </span>
                <span> {{ hodan.created_time }} </span>
              </div>
              {% if hodan.volunteer %}
              <div class="citizen-footer-info">
                <span>Bởi TNV: </span>
                <span> {{ hodan.volunteer }} </span>
              </div>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <nav aria-label="row Page navigation" class="d-flex justify-content-end">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{{ request.path }}{{ params_url }}page=1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">begin</span>
        </a>
      </li>   {% endif %}

      {% for n in page_obj.paginator.page_range %}
        {% if page_obj.number == n %}
          <li class="page-item active">
            <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
          </li>
        {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}{{ params_url }}page={{ n }}">{{ n }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ request.path }}{{ params_url }}page={{ page_obj.paginator.num_pages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">end</span>
          </a>
        </li>
        {% endif %}
      </ul>
  </nav>

{% endblock %}
