{% extends "layout.html" %}
{% load static i18n %}

{% block content %}
<section class="mb-5">
    <div class="card-deck">
        <div class="card card-homepage border-danger">
            <div class="card-header">
                <h5 class="card-title text-danger">
                    Hộ dân cần cứu trợ
                </h5>
                <div class="card-meta text-small">
                    <span>Đang có {{ tong_hodan_cap_cuu}} hộ dân cần cứu trợ</span>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">Phát hiện hộ dân cần cứu trợ? Thêm ngay để các TNV kết nối với các đội cứu trợ.</p>
            </div>
            <div class="card-footer">
                <a href="{{ them_hodan_url }}" class="btn btn-danger">Thêm hộ dân</a>
                <a href="{{ hodan_url}}" class="btn btn-secondary">Xem </a>
            </div>
        </div>
        <div class="card card-homepage border-success">
            <div class="card-header">
                <h5 class="card-title text-success">
                    Đội cứu trợ
                </h5>
                <div class="card-meta text-small">
                    <span>Đang có {{ tong_doi_cuu_ho }} đội cứu trợ</span>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">Đăng ký trở thành đội cứu trợ để nhận được các yêu cầu cứu trợ mới nhất.</p>
            </div>
            <div class="card-footer">
                <a href="{{them_cuuho_url}}" class="btn btn-success">Đăng ký đội cứu trợ</a>
                <a href="{{cuuho_url}}" class="btn btn-secondary">Xem </a>
            </div>
        </div>
    </div>
</section>

<section>
    <h4 class="section-title mb-3">
        Thông tin chi tiết các tỉnh
        <i class="la la-angle-double-right"></i>
    </h4>
    <div class="card-deck card-deck-counter">
        {% for tinh in tinhInfos %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{ tinh.name }}
                </h5>
                <div class="card-counter-info">
                    <span class="card-counter-info-text text-danger">{{ tinh.total_hodan }}</span>
                    <span>Hộ dân cần cứu trợ</span>
                </div>
                <div class="card-counter-info">
                    <span class="card-counter-info-text text-success">{{ tinh.total_cuuho }}</span>
                    <span>Đội cứu trợ</span>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
