{% extends "layout.html" %}

{% block content %}
<h2 class="page-title mb-5">Hướng dẫn tham gia làm TNV trực tổng đài</h2>

<div class="mb-3 embed-responsive embed-responsive-16by9">
  <iframe
    class="embed-responsive-item"
    src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fcuuhomientrung.info%2Fvideos%2F380688113125257%2F&show_text=0&width=560"
    width="560"
    height="290"
    style="border:none;overflow:hidden"
    scrolling="no"
    frameborder="0"
    allowTransparency="true"
    allowFullScreen="true"
    loading="lazy"
></iframe>
</div>

<pre style="font-family: inherit; white-space: pre-wrap; word-break: break-word">
<h5 class="text-center">
  <a href="https://cuuhomientrung.info">CUUHOMIENTRUNG.INFO</a> TUYỂN 500 TÌNH NGUYỆN VIÊN
  ĐIỀU PHỐI THÔNG TIN TRÊN KHẮP CẢ NƯỚC CHUẨN BỊ CHO BÃO KÉP SỐ 09 - 10 ĐỔ BỘ
</h5>
Xin được chào đón các bạn,

<span class="font-weight-bold"> GIỚI THIỆU VỀ TỔ ĐIỀU PHỐI THÔNG TIN </span>
Nhiệm vụ của Tổ điều phối thông tin mà các bạn đang ứng tuyển vào là đem lại thông tin có GIÁ TRỊ nhất cho các HỘ DÂN CẦN ỨNG CỨU VÀ ĐỘI ĐANG ĐI CỨU HỘ.
Trước tiên: hãy xem hướng dẫn cho TNV tại đây: bit.ly/cuuho15
Tổ chia thành 5 đội. Các bạn hãy bấm tham gia các group Zalo để vào nhóm. Vui lòng thông báo bạn là TNV mới khi gia nhập. Nhiệm vụ chi tiết như sau:
<br>
<span class="font-weight-bold"> 1. ĐỘI LẤY TIN </span>
✔️ Nhiệm vụ: thu thập thông tin các trường hợp HỘ DÂN/ CÁ NHÂN CẦN CỨU HỘ và CÁC ĐỘI CỨU HỘ từ các nguồn thông tin chính thống, mạng xã hội và gửi về cho ĐỘI NHẬP LIỆU để nhập vào hệ thống.
✔️ Danh sách nguồn thông tin tham khảo tại đây: bit.ly/pagethuthap
✔️Tham gia GROUP ZALO ĐỘI LẤY TIN: <a href="https://zalo.me/g/ejqnza464"> https://zalo.me/g/ejqnza464 </a>
<br>
<span class="font-weight-bold"> 2. ĐỘI NHẬP LIỆU </span>
✔️ Nhiệm vụ: Nhận thông tin từ ĐỘI LẤY TIN và NHẬP LIỆU lên website cuuhomientrung.info
✔️ ĐỘI NHẬP LIỆU cần tham gia cả 2 nhóm ZALO
<a href="https://zalo.me/g/ejqnza464"> https://zalo.me/g/ejqnza464 </a>
<a href="https://zalo.me/g/ejqnza464"> https://zalo.me/g/ejqnza464 </a>
</ul>
<br>
<span class="font-weight-bold"> 3. ĐỘI XÁC MINH </span>
✔️ Nhiệm vụ: sử dụng hệ thống tổng đài của chương trình để gọi điện thoại xác minh thông tin của hộ dân hoặc đội cứu hộ. Sau khi xác minh, đổi trạng thái của Tin trên hệ thống.
✔️ Tham gia GROUP ZALO ĐỘI XÁC MINH: <a href="https://zalo.me/g/cmnpnw701"> https://zalo.me/g/cmnpnw701 </a>
<br>
<span class="font-weight-bold"> 4 . ĐỘI HOTLINE 1800 6132 </span>
✔️ Nhiệm vụ: trực hệ thống tổng đài 1800 6132 của chương trình thu thập thông tin cứu hộ và nhập vào hệ thống Website
✔️ Tham gia GROUP ZALO ĐỘI HOTLINE 1800 6132: <a href="https://zalo.me/g/gbrlri538">https://zalo.me/g/gbrlri538</a>
<br>
<span class="font-weight-bold"> 5 . ĐỘI KẾT NỐI </span>
✔️ Nhiệm vụ: tiếp nhận và thông tin Hộ dân cần ứng cứu và Đội cứu hộ, từ đó kết nối/ điều phối Đội cứu hộ đến ứng cứu. THÀNH VIÊN ĐỘI KẾT NỐI CHỈ ĐƯỢC THAM GIA DUY NHẤT ĐỘI NÀY.
✔️ Điều kiện: Nghe - nói được giọng địa phương. Ưu tiên các thành viên đang ở tại địa phương.
✔️ Cách tham gia nhóm: Tham gia nhóm <a href="https://zalo.me/g/aexqem912"> https://zalo.me/g/aexqem912 </a>
<br>
Bạn có thể chọn ĐỘI nào phù hợp với mình rồi tham gia vào nhóm nhé! Tham gia Nhóm Zalo Chung: <a href="https://zalo.me/g/uvwsfy867"> https://zalo.me/g/uvwsfy867 </a>
<span class="font-weight-bold"> CHÂN THÀNH CẢM ƠN VÀ CÙNG NHAU CHÚNG TA HÃY CHUNG TAY HỖ TRỢ ĐỒNG BÀO MIỀN TRUNG NHÉ! </span>

</pre>
{% endblock %}
