{% extends "layout.html" %}

{% block content %}
<h2 class="page-title mb-5">Hệ thống thông tin Cứu hộ miền Trung</h2>

<pre style="font-family: inherit; white-space: pre-wrap; word-break: break-word">
    <a href="https://cuuhomientrung.info">https://cuuhomientrung.info</a> được lập ra bởi hơn 50 chuyên gia công nghệ và điều phối dự án khắp Việt Nam. Ra đời đêm 19/10. sau hơn một tuần hoạt động, dự án đã:
    ✔️ Thiết lập hệ thống công nghệ, liên tục cải tiến chức năng; trở thành database lớn nhất lúc này về dữ liệu cứu hộ cứu nạn với hơn 1.500.000 truy cập, hơn 2500 tình nguyện viên khắp thế giới, gần 2000 ca cứu hộ được đăng tải
    ✔️ Tạo đầu số điện thoại miễn phí và luôn kết nối được cho bà con, giảm tải áp lực cho hotline cứu hộ địa phương
    ✔️ Tổ chức quản lý TNV trực tổng đài, nhập liệu thông tin từ các nguồn nhỏ lẻ và xác minh thông tin hộ dân kết nối đội cứu hộ
    ✔️ Đối ngoại kết nối các nguồn lực; kết nối với Cano 0 đồng, được Quân khu IV và Tỉnh đoàn Quảng Bình, Nghệ An, Quảng Trị, Quảng Ngãi tiếp nhận dữ liệu đưa ngay vào công tác cứu hộ tại địa phương
    ✔️Được ghi nhận bởi và lan tỏa thông tin bởi các đơn vị báo chí uy tín nhất Việt Nam: VTV, VTC, Tuổi trẻ, ANTV, THQP, Vietnamnet...
</pre>
{% endblock %}
