#changelist .changelist-form-container {
    max-width: 100%;
}

.field-tinh select,
.field-huyen select,
.field-xa select,
.field-cuuho select {
    width: 100px;
}

.column-get_note,
.column-location,
td.field-location,
td.field-get_note {
    width: 200px;
    min-width: 200px;
}

#changelist {
    display: block;
}

#changelist-filter {
    margin: 0;
    width: 100%;
    margin-bottom: 15px;
}

.filter-body {
    display: flex;
    flex-wrap: wrap;
}

.filter-item {
    width: 200px;
    min-width: 20%;
}

.toggle-nav-sidebar {
    width: 50px;
    cursor: pointer;
    font-size: 45px;
    color: #42778f;
}

.toggle-nav-sidebar:hover {
    width: 100px;
    font-size: 80px;
}

@media screen and (max-width:768px) {
    .filter-item {
        width: 100%;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .filter-item ul {
        width: 40%;
        flex-basis: 40%;
        margin-left: auto;
        padding: 0;
        margin: 0;
    }
}
