#changelist .changelist-form-container {
    max-width: 100%;
}

.field-status select,
.field-tinh select,
.field-huyen select,
.field-xa select,
.field-cuuho select {
    min-width: 100px;
    max-width: 125px;
}

.column-phone,
td.field-phone {
  max-width: 125px;
}

.column-name,
td.field-name {
  min-width: 150px;
  max-width: 250px;
}

.column-get_note,
.column-location,
td.field-location,
td.field-get_note {
    min-width: 200px;
    max-width: 300px;
}

#changelist {
    display: block;
}

#changelist-filter {
    margin: 0;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.15);
}

.filter-body {
    display: flex;
    flex-wrap: wrap;
}

.filter-item {
    width: 200px;
    min-width: 20%;
}

.toggle-nav-sidebar {
    width: 50px;
    cursor: pointer;
    font-size: 45px;
    color: #42778f;
}

.toggle-nav-sidebar:hover {
    width: 100px;
    font-size: 80px;
}

.DynamicRawIDFilter p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.DynamicRawIDFilter input {
    width: 70%!important;
}

.DynamicRawIDFilter a {
    padding: 3px 5px;
}

.DynamicRawIDFilter .dynamic_raw_id_label {
    flex-basis: 100%;
}

@media screen and (max-width:1024px) {
    #changelist-filter {
        width: 100%!important;
    }
}

@media screen and (max-width:768px) {
    .filter-item {
        width: 100%;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .filter-item ul {
        width: 40%;
        flex-basis: 40%;
        margin-left: auto;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width:768px) {
    #changelist-filter {
        top: 0!important;
        position: static !important;
    }
}
