body {
    font-family: 'Inter', sans-serif;
}

.navbar-dark {
    background: #205493 !important;
}

.card-homepage {}

.card-homepage .card-header {
    background: transparent;
    border: 0;
}

.card-homepage .card-title {
    margin-bottom: .5rem;
    font-size: 1.3em;
    font-weight: 700;
}

.card-homepage .card-meta {
    color: #888;
}

.card-homepage .card-body {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.card-homepage .card-footer {
    background: transparent;
    border: 0;
    padding-bottom: 1rem;
}

.card-counter-info {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-counter-info-text {
    font-size: 1.2em;
    margin-right: .5rem;
    font-weight: 700;
}

.card-deck-counter .card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    padding: 1rem;
    font-size: .9em;
    color: white;
}

.card-deck-counter .card {
    border-radius: 5px;
    overflow: hidden;
    min-height: 200px;
}