.card-homepage {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-bottom: 1rem;

  .card-header {
    display: flex;
    background: transparent;
    border: 0;

    h5 {
      font-weight: 500;
    }
  }

  .font-size-large {
    line-height: 1.2;
    white-space: nowrap;
  }

  .card-body {
    color: #2E3338;
    padding-top: 0;
    padding-bottom: 0;

    .link-block{
      display: block;
      transition: opacity 0.2s;
      
      &:hover{
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }

  .card-footer {
    background: transparent;
    border: 0;

    .btn {
      display: inline-flex;
      align-items: center;

      svg {
        fill: currentColor;
      }
    }
  }
}

.table-district {
  font-weight: 700;

  thead {
    background: #EEEEEE;

    th {
      border-bottom: 0;
      white-space: nowrap;
    }
  }

  th,
  td {
    &:first-child {
      padding-left: 1.11rem;
    }
    &:last-child {
      padding-right: 1.11rem;
    }

    &:not(:first-child) {
      text-align: right;
    }
  }
}
