appnope==0.1.0
asgiref==3.2.10
autopep8==1.5.4
backcall==0.2.0
certifi==2020.6.20
decorator==4.4.2
Django==3.1.2
django-admin-autocomplete-filter==0.6.1
django-admin-interface==0.14.0
django-admin-list-filter-dropdown==1.0.3
django-admin-numeric-filter==0.1.6
django-admin-rangefilter==0.6.3
django-appconf==1.0.4
django-colorfield==0.3.2
django-computed-property==0.3.0
django-debug-toolbar==3.1.1
django-dynamic-raw-id==2.7
django-easy-select2==1.5.7
django-environ==0.4.5
django-extensions==2.2.9
django-filter==2.4.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-mapbox-location-field==1.6.3
django-multiselectfield==0.1.12
django-restful-admin==1.1.3
django-select2==7.4.2
django-select2-admin-filters==0.1.3
django-simple-history==2.12.0
django-smart-selects==1.5.9
django-timezone-field==4.0
django-webpack-loader==0.7.0
djangorestframework==3.12.1
djangorestframework-csv==2.1.0
factory-boy==3.1.0
Faker==4.14.0
gunicorn==20.0.4
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.8
psycopg2==2.8.6
ptyprocess==0.6.0
pycodestyle==2.6.0
Pygments==2.7.2
python-dateutil==2.8.1
pytz==2020.1
sentry-sdk==0.19.1
six==1.15.0
sqlparse==0.4.1
text-unidecode==1.3
toml==0.10.1
traitlets==4.3.3
unicodecsv==0.14.1
urllib3==1.25.11
wcwidth==0.2.5
Werkzeug==1.0.1
xlrd==1.2.0
XlsxWriter==1.3.7
