<!DOCTYPE html>
<html lang="vi">
 
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Công cụ kiểm tra link youtube</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">AIV GROUP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div> -->
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Công cụ kiểm tra link Youtube</h1>
        <!--Nếu           -->
        <p class="lead">Mời tải lên file csv với cột đầu tiên là đường link Youtube cần kiểm tra</p>

        
          <form action="/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Chọn file: </label>
            {{ form.input_file }}
            <input type="submit" value="Tải lên" style="width: 200px;">
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "/vendor/jquery/jquery.slim.min.js" %}"></script>
  <script src="{% static "/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>
