{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}
{% load custom_admin_list_filter from custom_tags %}
{% block extrahead %}
    {{ block.super }}
    <script>
      $(document).ready(function () {
          $('select#id-huyen__pk__exact-dal-filter').select2({
            
            placeholder: 'Chon huyen',
            minimumInputLength: 1
          });
        });
    </script>
{% endblock %}

{% block filters %}
  {% if cl.has_filters %}
    <div id="changelist-filter">
      <h2>{% translate 'Filter' %}</h2>
      {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
        <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
      </h3>{% endif %}
      {% for spec in cl.filter_specs %}{% custom_admin_list_filter cl spec %}{% endfor %}
    </div>
  {% endif %}
{% endblock %}
