// Font-size base
html {
  font-size: 18px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}

.navbar-dark {
  background: #052F58 !important;
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;

}
.logo {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  overflow: hidden;

  > svg {
    width: 30px;
    height: 30px;
  }
} 

.footer {
  padding: 2rem 0;
  font-size: 14px;
  background: #2E3338;
  color: #fff;

  svg {
    fill: currentColor;
  }
}

.hotline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}

.hotline-phone {
  display: block;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
  }
}

.hotline-header {
  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: none;
  }
}

.section-hotline {
  background-color: $red-2;
}
