// Basic color
$blue-1: #608EBB;
$blue-2: #28649D;
$blue-3: #0B457C;
$blue-4: #052F58;
$blue-5: #011324;

$green-1: #61CD82;
$green-2: #23B34F;
$green-3: #038E2D;
$green-4: #00651E;
$green-5: #00290C;

$red-1: #F77584;
$red-2: #E92D43;
$red-3: #B80419;
$red-4: #83000F;
$red-5: #350006;

$primary: $blue-3;
$danger: $red-3;
$body-bg: #EFF2F5;
$body-color: #212529;
$link-color: $blue-2;

// $font-size-base: 18rem/16;
