.field-status select,
.field-tinh select,
.field-huyen select,
.field-xa select,
.field-cuuho select {
    min-width: 100px;
    max-width: 125px;
}

.column-phone,
td.field-phone {
    max-width: 125px;
}

.column-name,
td.field-name {
    min-width: 150px;
    max-width: 250px;
}

.column-get_note,
.column-location,
td.field-location,
td.field-get_note {
    min-width: 200px;
    max-width: 300px;
}

.toggle-nav-sidebar {
    width: 50px;
    cursor: pointer;
    font-size: 45px;
    color: #42778f;
}

.toggle-nav-sidebar:hover {
    width: 100px;
    font-size: 80px;
}


@media screen and (min-width: 768px) {
    .results {
        max-height: 500px;
    }
}
