/** Landing page css */
/* Utilities css first */

@media screen and (min-width: 1024px) {
  .d-show-desktop {
    display: block;
  }
  .d-show-mobile {
    display: none!important;
  }
}

@media screen and (max-width: 1023px) {
  .d-show-mobile {
    display: block;
  }
  .d-show-desktop {
    display: none!important;
  }
}

.table-hodan {

}

.citizen-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.citizen-item {
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, .15);
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #444;
}

.citizen-header {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;

  display: flex;
}

.citizen-header h5 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
}

.citizen-meta {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.citizen-status {
  white-space: nowrap;
  border: 1px solid #44B78B;
  border-radius: 5px;
  padding: 2px 5px;
  background: #44B78B;
  color: #fff;
}

.citizen-status.status-emergency {
  background: #FF4500;
  border: 1px solid #FF4500;
}

.citizen-updated-time {
  margin-left: auto;
  font-size: 13px;
}

.citizen-body {
  padding: 10px 15px;
}

.citizen-info {
  display: flex;
  margin-bottom: 5px;
  padding: 3px 0;
}

.citizen-label {
  flex: 100px 0 0;
  margin-right: 15px;
  color: #888;
}

.citizen-value {
  flex: calc(100% - 100px) 0 1;
  margin-left: auto;
  text-align: right;
}

.citizen-value--phone {
  font-size: 1.1em;
}

.citizen-number {
  /* white-space: nowrap;
  border: 1px solid #44B78B;
  border-radius: 5px;
  padding: 2px 5px; */
}

.citizen-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;

  font-size: 11px;
  color: #888;
}
