{% extends "admin/base_site.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/">{{ site_header|default:_('Django administration') }}</a></h1>
<p>Thông tin trên site được kết nối tới Sở chỉ huy tiền phương phòng, chống lụt bão của Quân khu IV đặt tại Thừa Thiên Huế làm đầu vào cho công tác điều phối cứu hộ</p>
<p>Các trường hợp cần cứu hộ khẩn cấp, xin gọi theo số hotline: 1800 6132 (miễn phí + live 100%) để đội cứu hộ tới ứng cứu </p>
<p>Để truy cập dữ liệu của dự án qua API, mời truy cập: <a target="_blank" href="http://cuuhomientrung.info/api/">Open API</a></p>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
    {{ block.super }}

    <script>
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = django.jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      django.jQuery.ajaxSetup({
        complete: function(xhr, status) {
          django.jQuery('[name=csrfmiddlewaretoken]').val(getCookie('csrftoken'))
        },
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
      });
    </script>

    <script>
      ($ => {
        $('input.vForeignKeyRawIdAdminField').on('click', e => {
            $(e.target)
              .closest('.DynamicRawIDFilter')
              .find('.dynamic_raw_id-related-lookup')
              .click();

              $(e.target)
                .closest('.related-widget-wrapper')
                .find('.dynamic_raw_id-related-lookup')
                .click();
        });
      })(django.jQuery);
    </script>

    <style type="text/css">
      body.popup .object-tools {
        display: none;
      }
    </style>
{% endblock %}
