{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
<p>Các trường hợp cần cứu hộ khẩn cấp, xin gọi theo số hotline: 1800 6132 (miễn phí + live 100%) để đội cứu hộ tới ứng cứu </p>
<p>Để truy cập dữ liệu của dự án qua API, mời truy cập: <a href="http://cuuhomientrung.info/api/">Open API</a></p>
{% endblock %}

{% block nav-global %}{% endblock %}
