{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}


{% block filters %}
  {% if cl.has_filters %}
    <div id="changelist-filter">
      <h2>{% translate 'Filter' %}</h2>
      {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
        <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
      </h3>{% endif %}
      {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {{ block.super }}
{% endblock %}
